# Shared
NODE_ENV=development

# Database
POSTGRES_USER=tmb
POSTGRES_PASSWORD=tmb
POSTGRES_DB=tmb
POSTGRES_PORT=5432
DATABASE_URL=postgresql://tmb:tmb@localhost:5432/tmb?schema=public
ADMIN_TOKEN=dev-admin-token
